<table mat-table [dataSource]="clubs">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Clubname</th>
    <td mat-cell *matCellDef="let clubs">{{clubs.name}}</td>
  </ng-container>

  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef>Active</th>
    <td mat-cell *matCellDef="let clubs">{{clubs.active}}</td>
  </ng-container>

  <ng-container matColumnDef="goal_difference">
    <th mat-header-cell *matHeaderCellDef>Goal difference</th>
    <td mat-cell *matCellDef="let clubs">{{clubs.goal_difference}}</td>
  </ng-container>

  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef>Points</th>
    <td mat-cell *matCellDef="let clubs">{{clubs.points}}</td>
  </ng-container>

  <ng-container matColumnDef="founded">
    <th mat-header-cell *matHeaderCellDef>Founded</th>
    <td mat-cell *matCellDef="let clubs">{{clubs.founded}}</td>
  </ng-container>

  <ng-container matColumnDef="soccerplayer_name">
    <th mat-header-cell *matHeaderCellDef>Clubs</th>
    <td mat-cell *matCellDef="let clubs">{{clubs.soccerplayers}}</td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let clubs">
      <button mat-button [routerLink]="'/club-form/' + clubs.id">Edit</button>
      <button mat-button (click)="deleteClub(clubs)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
