<table mat-table [dataSource]="soccerplayers">
  <ng-container matColumnDef="first_name">
    <th mat-header-cell *matHeaderCellDef>Firstname</th>
    <td mat-cell *matCellDef="let soccerplayer">{{soccerplayer.first_name}}</td>
  </ng-container>

  <ng-container matColumnDef="last_name">
    <th mat-header-cell *matHeaderCellDef>Lastname</th>
    <td mat-cell *matCellDef="let soccerplayer">{{soccerplayer.last_name}}</td>
  </ng-container>

  <ng-container matColumnDef="goals">
    <th mat-header-cell *matHeaderCellDef>Goals</th>
    <td mat-cell *matCellDef="let soccerplayer">{{soccerplayer.goals}}</td>
  </ng-container>

  <ng-container matColumnDef="injured">
    <th mat-header-cell *matHeaderCellDef>Injured</th>
    <td mat-cell *matCellDef="let soccerplayer">{{soccerplayer.injured}}</td>
  </ng-container>

  <ng-container matColumnDef="birth">
    <th mat-header-cell *matHeaderCellDef>Birth</th>
    <td mat-cell *matCellDef="let soccerplayer">{{soccerplayer.birth}}</td>
  </ng-container>

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>Position</th>
    <td mat-cell *matCellDef="let soccerplayer">{{positionService.positionName[soccerplayer.position]}}</td>
  </ng-container>

  <ng-container matColumnDef="country_name">
    <th mat-header-cell *matHeaderCellDef>Country</th>
    <td mat-cell *matCellDef="let soccerplayer">{{soccerplayer.country_name}}</td>
  </ng-container>

  <ng-container matColumnDef="clubs_name">
    <th mat-header-cell *matHeaderCellDef>Clubs</th>
    <td mat-cell *matCellDef="let soccerplayer">{{soccerplayer.clubs}}</td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let soccerplayer">
      <button mat-button [routerLink]="'/soccerplayer-form/' + soccerplayer.id">Edit</button>
      <button mat-button (click)="deleteSoccerplayer(soccerplayer)">Delete</button>
      <share-buttons [theme]="'material-dark'"
                     [include]="['whatsapp']"
                     [show]="5"
                     [showText]="true"
                     [showCount]="true"
                     [size]="-2"
                     [url]="'http://localhost:4200/soccerplayer-form/' + soccerplayer.id"
                     [description]="'Ever heard of this player?'"
                     [autoSetMeta]="false"
      ></share-buttons>
    </td>
  </ng-container>





  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
